{% extends 'sites/main.html' %}

{% block content %}
  <div class="align-items-center d-flex py-5 cover section-fade-in-out" style="background-image: url(https://images.unsplash.com/photo-1546410531-bb4caa6b424d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 align-self-center text-lg-left text-center">
          <h1 class="mb-0 mt-4 display-4" ><mark class="primary shadowed">Education</mark></h1>
        </div>
        <div class="col-lg-5 p-3">
          <form class="p-4" method="post" action="">
            <h4 class="mb-4 text-center"><mark class="secondary shadowed">Make a reservation</mark></h4>
            <div class="form-group"> <label>Name</label>
              <input class="form-control" placeholder="Type here"> </div>
            <div class="form-group"> <label>Time</label>
              <input type="time" class="form-control" placeholder="13"> </div>
            <div class="form-group"> <label>People</label>
              <input type="number" class="form-control" placeholder="2"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-info shadowed">Reserve a table</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}