{% extends 'account/main.html' %}


{% block content %}

	<div class="container">
		<div class="form-group">
			{% if messages %}
			<ul class="messages">
				{% for message in messages %}
				<li>
					<div class="alert alert-success"> {{ message }} </div>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>


  <div class="py-5 section-fade-in-out" id="book" style="background-image: url(&quot;assets/restaurant/makereservation_dark.jpg&quot;);" >
    <div class="container">
      <div class="row animate-in-down">
        <div class="col-lg-6 mx-auto p-3">

          <form class="p-4 bg-primary shadowed" method="post" action="">
            {% csrf_token %}
            <h4 class="mb-4 text-center"><mark class="secondary">Login</mark></h4>
            <p class="my-4"></p>
            <div class="form-group"> <label>Email</label>
              <input class="form-control" name="username" placeholder="Type your email" type="email"> </div>
            <div class="form-group"> <label>Password</label>
              <input class="form-control" name="password" placeholder="password" type="password"> </div>
            <button type="submit" class="btn mt-4 btn-block p-2 btn-dark"><b>Login</b></button>
          </form>
          <p class="my-4">Don't have an account? <a href="{% url 'account:register' %}" class="ml-2">Register</a></p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
 
